# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# OS files
.DS_Store

# Database
*.sqlite3

# local databases
*.db
data/*.db

# generated websites
_static/*.html
!_static/index_template.html