body {
  margin: 0;
  padding: 0;
  background: #e1e2e6;
  font-family: Helvetica, Arial, sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: visible;
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  position: relative;
  z-index: 2;
}

.banner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;

  bottom: -220px;
  height: 220px;

  z-index: 1;

  background: linear-gradient(
    to bottom,
    rgba(210, 212, 218, 1) 0%,
    rgba(225, 226, 230, 0.85) 40%,
    rgba(225, 226, 230, 0.4) 70%,
    rgba(225, 226, 230, 0) 100%
  );

  filter: blur(6px);
  pointer-events: none;
}

.banner-title {
  position: absolute;
  top: 40%;
  left: 1%;
  z-index: 2;
  color: white;
  font-size: 7em;
  font-weight: 900;
  text-transform: lowercase;
}

.welcome-bar {
  position: relative;
  z-index: 3;
  padding-left: 25px;
  margin-top: 50px;
}

.welcome-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.welcome-subtitle {
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: dimgrey;
}

/* Horizontal scrolling */
.scroll-wrapper {
  position: relative;
  z-index: 4;
  margin-top: 10px;
}

.movie-grid {
  list-style: none;
  padding: 20px;
  display: flex;
  gap: 20px;

  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none;
}

.movie-grid::-webkit-scrollbar {
  display: none;
}

.movie-grid li {
  flex: 0 0 auto;
}

.scroll-zone {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  z-index: 10;
}

.scroll-zone.left {
  left: 0;
}

.scroll-zone.right {
  right: 0;
}

/* Movie cards */

.movie-item {
  width: 140px;
  flex: 0 0 auto;
}

.movie-card {
  position: relative;
  border-radius: 5px;
  width: 140px;
  overflow: visible;
}

.movie-poster {
  width: 140px;
  height: 210px;

  border-radius: 5px;
  object-fit: cover;

  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.18),
    0 2px 4px rgba(0, 0, 0, 0.12);
}

.rating-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 5;

  padding: 6px 10px;
  border-radius: 999px;

  font-weight: bold;
  font-size: 13px;

  background: blue;
  color: white;

  box-shadow: none;
}

.movie-meta {
  margin-top: 6px;
}

.movie-title {
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: 600;
  text-align: left;
  color: #2b2b2b;

  max-width: 140px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.movie-year {
  margin-top: 3px;
  font-size: 0.75em;
  text-align: left;
  color: #6e6e6e;
  padding-left: 2px;
}

.empty-state {
  width: 100%;
  min-height: 220px;
  padding: 4rem 2rem;
  margin: 0 auto;
}