body {
  margin: 0;
  padding: 0;
  background: #e1e2e6;
  font-family: Helvetica, Arial, sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 275px;
  background: #e1e2e6;
  overflow: visible;
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

/* BLEND BANNER TO BODY */
.banner::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;

  height: 300px;
  bottom: -300px;

  background: linear-gradient(
    to bottom,
    rgba(225, 226, 230, 1) 0%,
    rgba(225, 226, 230, 0.85) 30%,
    rgba(244, 244, 246, 0.55) 75%,
    rgba(244, 244, 246, 1) 100%
  );

  filter: blur(8px);
  transform: translateY(-10px);
  pointer-events: none;
}

.banner-title {
  position: absolute;
  top: 40%;
  left: 1%;
  z-index: 2;
  color: white;
  font-size: 6em;
  font-weight: 900;
}

.welcome-bar {
  position: relative;
  z-index: 3;
  margin-top: 60px;
  margin-left: 20px;
}

.welcome-title {
  margin: 0;
  left: 15px;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.welcome-subtitle {
  margin-top: 7px;
  left: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  color: dimgrey;
}

/* Horizontal scrolling */
.scroll-wrapper {
  position: relative;
  z-index: 4;
}

.movie-grid {
  list-style: none;
  padding: 20px;
  display: flex;
  gap: 20px;

  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none;
}
.movie-grid::-webkit-scrollbar {
  display: none;
}
.movie-grid li {
  flex: 0 0 auto;
}

.scroll-zone {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  z-index: 10;
}

.scroll-zone.left {
  left: 0;
}

.scroll-zone.right {
  right: 0;
}

.movie-card {
  position: relative;
  width: 150px;
  height: 215px;
}

.movie-poster {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  display: block;

  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.18),
    0 2px 4px rgba(0, 0, 0, 0.12);
}

.rating-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;

  padding: 6px 10px;
  border-radius: 999px;

  font-weight: 700;
  font-size: 13px;
  line-height: 1;

  background: blue;
  color: white;

  pointer-events: none;
}

/* Keep meta text below; no background box */
.movie-title {
  margin-top: 10px;
  font-size: 0.85em;
  text-align: center;
  color: #2b2b2b;
}

.movie-year {
  font-size: 0.75em;
  text-align: center;
  color: #777;
}

.empty-state {
  grid-column: 1 / -1;
  text-align: center;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.empty-state h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.empty-state p {
  color: #666;
  font-size: 1rem;
}
